/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	aliases {
		accelerometer = &lis2dh12;
	};

};

&i2c2 {

	lis2dh12: lis2dh12-accel@19 {};
};


